section(class='main_content_section')
    .container
        +image-background('image3', 'jpg')
        .search__modul
            include ./modules/search_modul
        .title__container
            .background__title Лучшие номера для вашей работы, отдыха и просто вдохновения

