extends ../layout/main

block variables
  - var title = 'Landing Page';
  - var description = 'Description Landing Page';
  - var pageClass = 'index-page';

block content
  section(class='section')
    container(class='container')
//- block content
//-   section
//-     .container
//-       +item('item title', 'item descr')
//-       +item('item title', 'item descr')
//-       +item('item title', 'item descr')
//-   example-component


//- block script
//-   script(type='text/javascript').
//-     const foo = true;
//-     let bar = function() {};
//-     if (foo) {
//-     bar(1 + 5)
//-     }