extends ../layout/main

block variables
  - var title = 'Landing Page';
  - var description = 'Description Landing Page';
  - var pageClass = 'index-page';

block content
  include ../includes/main_content