// Fonts 
$font-montserratRegular: 'Montserrat-Regular';
$font-montserratBold: 'Montserrat-Bold';
$font-montserratLight: 'Montserrat-Light';

// Colors
$linearGradient:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$linear:  #BC9CFF;
$white: #fff;
$grey-light: hsla(238, 35%, 19%, 0.5);

// Media
$tablet: 990px;
